[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "5-grading-tests"]
	path = 5-grading-tests
	url = git@github.com:spbu-coding-2025/5-grading-tests.git
[submodule "5-A-Sozonov"]
	path = 5-A-Sozonov
	url = https://github.com/spbu-coding-2025/5-A-Sozonov.git
	branch = main
[submodule "5-AleksAndr1038"]
	path = 5-AleksAndr1038
	url = https://github.com/spbu-coding-2025/5-AleksAndr1038.git
	branch = main
[submodule "5-AlexeyMashkovichUniWork"]
	path = 5-AlexeyMashkovichUniWork
	url = https://github.com/spbu-coding-2025/5-AlexeyMashkovichUniWork.git
	branch = main
[submodule "5-AnastasiyaMedentseva"]
	path = 5-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/5-AnastasiyaMedentseva.git
	branch = main
[submodule "5-AndyBarnv"]
	path = 5-AndyBarnv
	url = https://github.com/spbu-coding-2025/5-AndyBarnv.git
	branch = main
[submodule "5-Brulevich-Nikita"]
	path = 5-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/5-Brulevich-Nikita.git
	branch = main
[submodule "5-DenisPotapov0"]
	path = 5-DenisPotapov0
	url = https://github.com/spbu-coding-2025/5-DenisPotapov0.git
	branch = main
[submodule "5-EndlessRevolution"]
	path = 5-EndlessRevolution
	url = https://github.com/spbu-coding-2025/5-EndlessRevolution.git
	branch = main
[submodule "5-Ganesha1967"]
	path = 5-Ganesha1967
	url = https://github.com/spbu-coding-2025/5-Ganesha1967.git
	branch = main
[submodule "5-Iseyne"]
	path = 5-Iseyne
	url = https://github.com/spbu-coding-2025/5-Iseyne.git
	branch = main
[submodule "5-KrimPast"]
	path = 5-KrimPast
	url = https://github.com/spbu-coding-2025/5-KrimPast.git
	branch = main
[submodule "5-LeoN192"]
	path = 5-LeoN192
	url = https://github.com/spbu-coding-2025/5-LeoN192.git
	branch = main
[submodule "5-LinaraSun"]
	path = 5-LinaraSun
	url = https://github.com/spbu-coding-2025/5-LinaraSun.git
	branch = main
[submodule "5-Lizavod"]
	path = 5-Lizavod
	url = https://github.com/spbu-coding-2025/5-Lizavod.git
	branch = main
