[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "5-grading-tests"]
	path = 5-grading-tests
	url = git@github.com:spbu-coding-2025/5-grading-tests.git
[submodule "5-A-Sozonov"]
	path = 5-A-Sozonov
	url = https://github.com/spbu-coding-2025/5-A-Sozonov.git
	branch = main
[submodule "5-AleksAndr1038"]
	path = 5-AleksAndr1038
	url = https://github.com/spbu-coding-2025/5-AleksAndr1038.git
	branch = main
[submodule "5-AlexeyMashkovichUniWork"]
	path = 5-AlexeyMashkovichUniWork
	url = https://github.com/spbu-coding-2025/5-AlexeyMashkovichUniWork.git
	branch = main
[submodule "5-AnastasiyaMedentseva"]
	path = 5-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/5-AnastasiyaMedentseva.git
	branch = main
[submodule "5-AndyBarnv"]
	path = 5-AndyBarnv
	url = https://github.com/spbu-coding-2025/5-AndyBarnv.git
	branch = main
[submodule "5-Brulevich-Nikita"]
	path = 5-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/5-Brulevich-Nikita.git
	branch = main
[submodule "5-DenisPotapov0"]
	path = 5-DenisPotapov0
	url = https://github.com/spbu-coding-2025/5-DenisPotapov0.git
	branch = main
[submodule "5-EndlessRevolution"]
	path = 5-EndlessRevolution
	url = https://github.com/spbu-coding-2025/5-EndlessRevolution.git
	branch = main
[submodule "5-Ganesha1967"]
	path = 5-Ganesha1967
	url = https://github.com/spbu-coding-2025/5-Ganesha1967.git
	branch = main
[submodule "5-Iseyne"]
	path = 5-Iseyne
	url = https://github.com/spbu-coding-2025/5-Iseyne.git
	branch = main
[submodule "5-KrimPast"]
	path = 5-KrimPast
	url = https://github.com/spbu-coding-2025/5-KrimPast.git
	branch = main
[submodule "5-LeoN192"]
	path = 5-LeoN192
	url = https://github.com/spbu-coding-2025/5-LeoN192.git
	branch = main
[submodule "5-LinaraSun"]
	path = 5-LinaraSun
	url = https://github.com/spbu-coding-2025/5-LinaraSun.git
	branch = main
[submodule "5-Lizavod"]
	path = 5-Lizavod
	url = https://github.com/spbu-coding-2025/5-Lizavod.git
	branch = main
[submodule "5-LuhTonkaYeat"]
	path = 5-LuhTonkaYeat
	url = https://github.com/spbu-coding-2025/5-LuhTonkaYeat.git
	branch = main
[submodule "5-Maxllon"]
	path = 5-Maxllon
	url = https://github.com/spbu-coding-2025/5-Maxllon.git
	branch = main
[submodule "5-RannyayaAnastasia"]
	path = 5-RannyayaAnastasia
	url = https://github.com/spbu-coding-2025/5-RannyayaAnastasia.git
	branch = main
[submodule "5-Redkin-Aleksey"]
	path = 5-Redkin-Aleksey
	url = https://github.com/spbu-coding-2025/5-Redkin-Aleksey.git
	branch = main
[submodule "5-RomanKazz"]
	path = 5-RomanKazz
	url = https://github.com/spbu-coding-2025/5-RomanKazz.git
	branch = main
[submodule "5-Vlm326"]
	path = 5-Vlm326
	url = https://github.com/spbu-coding-2025/5-Vlm326.git
	branch = main
[submodule "5-agresh775"]
	path = 5-agresh775
	url = https://github.com/spbu-coding-2025/5-agresh775.git
	branch = main
[submodule "5-aleksandrgarin"]
	path = 5-aleksandrgarin
	url = https://github.com/spbu-coding-2025/5-aleksandrgarin.git
	branch = main
[submodule "5-alferukn"]
	path = 5-alferukn
	url = https://github.com/spbu-coding-2025/5-alferukn.git
	branch = main
[submodule "5-arinamklvch"]
	path = 5-arinamklvch
	url = https://github.com/spbu-coding-2025/5-arinamklvch.git
	branch = main
[submodule "5-danisaev"]
	path = 5-danisaev
	url = https://github.com/spbu-coding-2025/5-danisaev.git
	branch = main
[submodule "5-e-leshnik"]
	path = 5-e-leshnik
	url = https://github.com/spbu-coding-2025/5-e-leshnik.git
	branch = main
[submodule "5-e4d08"]
	path = 5-e4d08
	url = https://github.com/spbu-coding-2025/5-e4d08.git
	branch = main
[submodule "5-gorbuzova"]
	path = 5-gorbuzova
	url = https://github.com/spbu-coding-2025/5-gorbuzova.git
	branch = main
[submodule "5-kabkyrie"]
	path = 5-kabkyrie
	url = https://github.com/spbu-coding-2025/5-kabkyrie.git
	branch = main
[submodule "5-kevetka"]
	path = 5-kevetka
	url = https://github.com/spbu-coding-2025/5-kevetka.git
	branch = main
[submodule "5-kijexs"]
	path = 5-kijexs
	url = https://github.com/spbu-coding-2025/5-kijexs.git
	branch = main
[submodule "5-liptonn405"]
	path = 5-liptonn405
	url = https://github.com/spbu-coding-2025/5-liptonn405.git
	branch = main
[submodule "5-lupusarqentum"]
	path = 5-lupusarqentum
	url = https://github.com/spbu-coding-2025/5-lupusarqentum.git
	branch = main
[submodule "5-meow79"]
	path = 5-meow79
	url = https://github.com/spbu-coding-2025/5-meow79.git
	branch = main
[submodule "5-narysh"]
	path = 5-narysh
	url = https://github.com/spbu-coding-2025/5-narysh.git
	branch = main
[submodule "5-polka777"]
	path = 5-polka777
	url = https://github.com/spbu-coding-2025/5-polka777.git
	branch = main
[submodule "5-qwerty787878"]
	path = 5-qwerty787878
	url = https://github.com/spbu-coding-2025/5-qwerty787878.git
	branch = main
[submodule "5-Maxdess067"]
	path = 5-Maxdess067
	url = https://github.com/spbu-coding-2025/5-Maxdess067.git
	branch = main
[submodule "5-Prosto-Dan"]
	path = 5-Prosto-Dan
	url = https://github.com/spbu-coding-2025/5-Prosto-Dan.git
	branch = main
[submodule "5-altrum06"]
	path = 5-altrum06
	url = https://github.com/spbu-coding-2025/5-altrum06.git
	branch = main
[submodule "5-cybulskii-vladimir"]
	path = 5-cybulskii-vladimir
	url = https://github.com/spbu-coding-2025/5-cybulskii-vladimir.git
	branch = main
[submodule "5-taymanov-bn"]
	path = 5-taymanov-bn
	url = https://github.com/spbu-coding-2025/5-taymanov-bn.git
	branch = main
[submodule "5-estoniec"]
	path = 5-estoniec
	url = https://github.com/spbu-coding-2025/5-estoniec.git
	branch = main
[submodule "5-dem0phob1a"]
	path = 5-dem0phob1a
	url = https://github.com/spbu-coding-2025/5-dem0phob1a.git
	branch = main
[submodule "5-tzubenin"]
	path = 5-tzubenin
	url = https://github.com/spbu-coding-2025/5-tzubenin.git
	branch = main
[submodule "5-IvRevver"]
	path = 5-IvRevver
	url = https://github.com/spbu-coding-2025/5-IvRevver.git
	branch = main
[submodule "5-wydfiy"]
	path = 5-wydfiy
	url = https://github.com/spbu-coding-2025/5-wydfiy.git
	branch = main
[submodule "5-GRIGAeo"]
	path = 5-GRIGAeo
	url = https://github.com/spbu-coding-2025/5-GRIGAeo.git
	branch = main
[submodule "5-ButyugovMxx"]
	path = 5-ButyugovMxx
	url = https://github.com/spbu-coding-2025/5-ButyugovMxx.git
	branch = main
[submodule "5-davidgordievskij07-cmd"]
	path = 5-davidgordievskij07-cmd
	url = https://github.com/spbu-coding-2025/5-davidgordievskij07-cmd.git
	branch = main
[submodule "5-Esoteria11"]
	path = 5-Esoteria11
	url = https://github.com/spbu-coding-2025/5-Esoteria11.git
	branch = main
