[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "5-grading-tests"]
	path = 5-grading-tests
	url = git@github.com:spbu-coding-2025/5-grading-tests.git
[submodule "5-A-Sozonov"]
	path = 5-A-Sozonov
	url = https://github.com/spbu-coding-2025/5-A-Sozonov.git
	branch = main
[submodule "5-AleksAndr1038"]
	path = 5-AleksAndr1038
	url = https://github.com/spbu-coding-2025/5-AleksAndr1038.git
	branch = main
